.header__inter *,
.body__inter * {
    color: #fff;
    font-family: 'Roboto';
}

.header__inter button {
    background-color: transparent;
    border: transparent;
    font-size: 2vw;
    text-transform: uppercase;
    margin-right: 5vw;
    font-weight: 300;
    cursor: pointer;
    opacity: .4;
}

.header__inter button.active {
    opacity: 1;
}

.header__inter {
    margin: 4vw 0;
}

.body__inter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4vw;
}

.body__inter img {
    width: 100%;

}

.body__inter img:not(.tec img) {
    height: 27vw;
    object-fit: cover;
}

.body__inter .tec {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.801);
    padding: 2vw;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    left: -100%;
    transition: left .4s;
    display: none;
    animation: fadeLeft .3s both;
}

@keyframes fadeLeft {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.item__inter span {
    color: #FFE99C;
    font-size: 1.4vw;
}

.item__inter p {
    font-size: 1vw;
}

.body__inter .item__inter {
    position: relative;
    overflow: hidden;
    animation: scaleIn .3s both;
}

.item__inter:hover .tec {
    left: 0;
    display: grid;
}

@keyframes scaleIn {
    from {
        transform: scale(.5);
    }

    to {
        transform: scale(1);
    }
}

.more {
    width: 20vw;
    margin: 6vw auto;
    border: 1px solid #fff;
    color: #fff;
    background-color: transparent;
    padding: 1vw;
    font-size: 1.4vw;
    display: flex;
    align-items: center;
    gap: 1vw;
    justify-content: center;
    cursor: pointer;
}

.more img {
    transition: .3s;
}

.more:hover img {
    transform: rotate(180deg);
}

.center {
    display: flex;
    justify-content: center;
}

.interer__iframe iframe {
    width: 100%;
    height: 30vw;
    margin-bottom: 10vw;
}

.bottom_i_item h1 {
    font-size: 3vw;
    font-family: 'Roboto';
    color: #fff;
    text-transform: uppercase;
    font-weight: 400;
    margin: 4vw 0;
}

.bottom_i_item {
    margin: 3vw 0;
}

.product .control-dots {
    display: none;
}

.product {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 3vw 0;
}

.product .carousel .thumbs-wrapper {
    margin: 0;
}

.product .carousel .slide img {
    height: 25vw;
    object-fit: cover;
}

.product .carousel .thumb {
    border: none;
    margin: 0;
}

.product .carousel .thumb.selected,
.product .carousel .thumb:hover {
    border: none;
}

.carousel .thumbs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.carousel .thumbs li {
    width: 100% !important;
    cursor: pointer;
}

.carousel .thumbs li img {
    height: 8vw;
    object-fit: cover;
}

.product .info {
    background: rgba(247, 247, 247, 0.048);
    backdrop-filter: blur(4px);
    padding: 5vw;
    position: relative;
}

.product * {
    color: #fff;
    font-family: 'Roboto';
}

.product .info h1 {
    font-size: 2vw;
    font-weight: 400;
    color: #FFE99C;
}

.product .title__info {
    margin-bottom: 3vw;
}

.product .title__info span {
    font-size: 1.6vw;
    font-weight: 200;
    margin-top: 2vw;
}

.product .body__info .row {
    display: flex;
    justify-content: space-between;
    margin-top: 1vw;
    align-items: flex-end;
}

.product .body__info span {
    font-weight: 200;
    opacity: .7;
    font-size: 1.3vw;
}

.product .body__info p {
    font-weight: 300;
    font-size: 1.3vw;
}

.product .info button {
    width: 100%;
    height: 6vw;
    background-color: #FFE99C;
    border: transparent;
    color: black;
    font-size: 1.8vw;
    position: absolute;
    bottom: 0;
    left: 0;
    cursor: pointer;
    transition: .2s;
}

.product .info button:hover {
    background-color: #ffd642;
}

.product .info button:active {
    background-color: #ffe483;
    transform: scale(.98);
}

.product .carousel .thumb:last-child {
    position: relative;
}

/* .product .carousel .thumb:last-child::after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: "+6";
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4vw;
    font-weight: 100;
    background-color: rgba(0, 0, 0, 0.727);
} */
.tec img{
    animation: both infinite tos 1.4s;
    -webkit-animation: both infinite tos 1.4s;
}
@keyframes tos {
    from{
        transform: translateX(-20px);
        opacity: 1;
    }
    to{
        transform: translateX(10px);
        opacity: 0;
    }
}

@media (max-width:767px) {
    .tec span{
        font-size: 15px;
    }
    .tec p{
        font-size: 10px;
    }
    .body__inter{
        grid-template-columns: repeat(2, 1fr);
    }
    .item__inter img{
        height: 40vw !important;
    }
    .header__inter button{
        font-size: 14px;
    }
    .product .info h1{
        font-size: 17px;
    }
    .product .title__info span{
        font-size: 17px;
    }
    .interer__iframe iframe{
        height: 50vw;
    }
    .product .body__info p{
        font-size: 14px;
    }
    .product .info button{
        font-size: 15px;
        bottom: -20px;
    }
    .product{
        display: block;
    }
    .product .carousel .slide img{
        height: 50vw;
    }
    .carousel .thumbs li img{
        height: 20vw;
    }
    .body__info .row span{
        font-size: 14px;
    }
    .bottom_i_item h1{
        margin-top: 50px;
    }
}